body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr:nth-child(even) {background-color: #FFFFFF}
tr:nth-child(odd) {background-color: #F8f8F8}

button {
  cursor: pointer;
}
